<!--The whole content below can be removed with the new code.-->
<div class="main">
  <h1>Item's list</h1>
  <div class="addItem">
    <input type="text" placeholder="Add item here" class="addText">
    <button type="button" class="addItemButton">Add</button>
  </div>
  <ul>
    <li *ngFor = "let i of items">
      {{i}}
      <span>X</span>
    </li>
  </ul>
</div>

<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <h2>my name is {{obj.name}}</h2>
  <ul>
    <li *ngFor = "let i of arr">{{i}}</li>
  </ul>
  <p *ngIf = "isTrue">{{title}}</p>
  <p *ngIf = "ok; then someTemplate else anotherTemplate">{{ok}}</p>

  <ng-template #someTemplate>This is some template to show</ng-template>
  <br>
  <ng-template #anotherTemplate>This is another template</ng-template>
  <br>

  <a routerLink="/members">Members</a>
  <a routerLink="/product">Product</a>
  <br>
  <router-outlet></router-outlet>

</div> -->
