<!--The whole content below can be removed with the new code.-->
<div class="main">
  <h1>Item's list</h1>
  <div class="addItem">
    <input [(ngModel)]= "newItem" placeholder="Add item here" class="addText">
    <button type="button" class="addItemButton" (click)="pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor = "let i of items; let ind = index">
      {{i | uppercase }}
      <span (click)="deleteItem(ind)">X</span>
    </li>
  </ul>
  <p>{{ day | date }}</p>
  <p>Sorted array: {{arr | sort: 'ascending'}}</p>

  <form class="formContainer"
        #userForm = "ngForm"
        (ngSubmit) = "onSubmitForm(userForm.value)"
  >
  <input type="text" name="name" placeholder="name" ngModel>
  <input type="text" name="proffession" placeholder="proffession" ngModel>
  <input type="submit" value="submit">
  </form>
</div>
