.main {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #d7d7d7;
  margin-top: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
  background-color: #5c34ff;
  color: white;
}

.addItem {
  position: relative;
  padding-bottom: 0px;
  height: 30px;
}

.addText {
  width: 80%;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}

.addItemButton {
  height: 45px;
  width: 50px;
  padding: 5px;
}

ul {
  list-style: none;
  font-size: 20px;
  color: #475874;
  margin-bottom: 0px;
  margin-left: -40px;
}

li {
  border-bottom: 1px solid #bfbfbf;
  background-color: #d7d7d7;
  padding: 10px 0px;
  margin-bottom: 5px;
}

span {
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 10px;
}
